<%- include('../../layouts/header.ejs',{title:'aviso'}) %>
<main class="main">

    <section class="section section-aviso">

        <div class="aviso-box"><%=mensagem%></div>
        <a class="form-item item-cancela" href=<%=retorno%>>Voltar</a>

    </section>
    <div class="circuloVerde circuloErro"></div>
</main>




<%- include('../../layouts/footer.ejs') %>