<%- include('../layouts/header.ejs',{title:'Notepad - home'}) %>
<main class="main">

        <section class="section">   

            <form class="form" action="/notepad" method="post">
                <button class="form-item" type="submit" formaction="/user" class="form-item">Novo aqui</button>
                <input class="form-item" type="text" id="nome" name="nome" placeholder="Informe seu nome...">
                <input class="form-item" type="text" id="senha" name="senha" placeholder="Informe sua senha..."> 
                <button class="form-item"  type="submit">Acessar</button>
            </form>

        </section>

        <div class="circuloVerde"></div>

</main>
<%- include('../layouts/footer.ejs') %>